[submodule "RISCVBusiness"]
	path = RISCVBusiness
	url = git@github.com:Purdue-SoCET/RISCVBusiness.git
[submodule "gpio"]
	path = gpio
	url = git@github.com:Purdue-SoCET/gpio.git
[submodule "interrupt_controller"]
	path = interrupt_controller
	url = git@github.com:Purdue-SoCET/interrupt_controller.git
[submodule "pwm"]
	path = pwm
	url = git@github.com:Purdue-SoCET/pwm.git
[submodule "spi"]
	path = spi
	url = git@github.com:Purdue-SoCET/spi.git
[submodule "DMA"]
	path = DMA
	url = git@github.com:Purdue-SoCET/DMA.git
[submodule "sram_controller"]
	path = sram_controller
	url = git@github.com:Purdue-SoCET/sram_controller.git
[submodule "timer"]
	path = timer
	url = git@github.com:Purdue-SoCET/timer.git
[submodule "vito-uart"]
	path = vito-uart
	url = git@github.com:Purdue-SoCET/vito-uart.git
[submodule "digital-lib"]
	path = digital-lib
	url = git@github.com:Purdue-SoCET/digital-lib.git
[submodule "bus-components"]
	path = bus-components
	url = git@github.com:Purdue-SoCET/bus-components.git
